@charset "UTF-8";

a:link {
	color: #5c5c5c;
	text-decoration: none;
}

a:visited {
	color: #5c5c5c;
	text-decoration: none;
}

input[readonly="readonly"]{
	border: none;
}

* {
	font-family: '맑은 고딕', '굴림', 'Arial', sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

.topmargin {
	margin-top: 35px;
}

.bold {
	font-weight: bold;
}

.line {
	border-right: 1px solid grey;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 150px;
	z-index: 50;
	background: white;
}

header>div {
	float: left;
}

header>div::after {
	clear: both;
}

header:hover {
	height: 450px;
	background: linear-gradient(to bottom, white 70%, rgba(255, 255, 255, 0.7));
	position: fixed;
	transition: 1.5s;
}

.stitle{
	font-size: 45px;
}

#logo {
	display: flex;
}

.logo1 {
	position: absolute;
	top: 30px;
	left: 100px;
	width: 180px;
	height: 70px;
	opacity: 1;
}

#manu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#manu>ul {
	height: 100px;
	display: flex;
	margin: 55px 0 0 0;
	margin-right: 60px;
	padding: 0;
}

#manu>ul>li {
	float: left;
}

#manu>ul>li::after {
	clear: both;
}

#manu>ul>li>a { /*대분류*/
	padding: 7px 30px 10px;
	font-weight: bold;
}

#manu>ul>li>ul>li>a { /*소분류*/
	display: none;
	animation: listshow 0.8s ease normal;
	padding: 7px 5px 14px;
	font-size: 15px;
	color: #48474A;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: -0.5px;
	margin-left: 30px;
}

@
keyframes listshow { 0% {
	opacity: 0;
	transform: translateY(-10px);
}

100%
{
opacity
:
 
1;
transform
:
 
translateY
(0);

	
}
}
header:hover #manu>ul>li>ul>li>a {
	text-decoration: none;
	display: inherit;
}

header:hover #logo>a {
	color: #48474A;
}

header:hover #side>ul>li>span {
	color: #48474A;
}

#side>ul {
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;
	margin: auto;
	display: flex;
}

.navi {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navi>div {
	float: left;
}

.navi>div:after {
	display: block;
	clear: both;
}

#side {
	border: 1px solid #BFC7DE;
	padding: 11px 12px;
	font-size: 12px;
	line-height: 1.2;
	display: flex;
	top: 45px;
	right: 100px;
	position: absolute;
}

#side>ul>li {
	float: left;
	padding: 0 11px;
}

#side>ul>li::after {
	clear: both;
}

#side>ul>li>a {
	font-weight: bold;
	color: #000000;
}

#side>ul>li>span {
	color: white;
}

@media ( max-width :1200px) {
	header #manu>ul>li>a {
		display: none;
	}
	header #manu>ul>li>ul {
		display: none;
	}
	header {
		pointer-events: none;
	}
	#side {
		display: none;
	}
}

@media ( min-width :1500px) {
	#manu>ul>li>a {
		padding: 7px 50px 10px;
	}
	#manu>ul>li>ul>li>a {
		padding: 7px 25px 14px;
	}
}

#roomInfo>ul>li>a {
	color: white;
	font-weight: bold;
	opacity: 0.7;
	margin: 0 auto;
}

#roomInfo>ul>li>a:hover {
	opacity: 1;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

#fnb {
	margin-right: 100px;
}

#fnb>ul>li {
	padding: 10px;
	float: left;
	font-size: 14px;
}

#fnb>ul>li::after {
	clear: both;
}

address {
	font-style: normal;
	font-size: 12px;
	color: #48474A;
}

address ul {
	display: flex;
}

address ul>li {
	display: list-item;
	padding-right: 10px;
	padding-left: 10px;
}


.route {
	width: 100%;
	padding-top: 30px;
	overflow: hidden;
}

.route>ul {
	float: right;
}

.route>ul>li {
	float: left;
	padding: 0 5px;
}

.sibtitle {
	padding: 40px 0 20px;
}

.sibtitle>h3 {
	font-size: 40px;
}

table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
}

.tableborder{
	margin: 20px 10px;
	border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding:100px 0 70px 0;
    width: 1000px;	
    overflow: hidden;
}

.tableborder2{
	margin: 20px 10px;
	border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding:100px 0 30px 0;
    width: 1000px;
	overflow: hidden;
}
.notice_top{
    border-bottom: 1px solid #d1d1d1;
    background-color: #BFC7DE;
}

section{
	margin-bottom: 100px;
}

#addAdminBoard{
    width: 80px;
    height: 30px;
    background: #d4d4d4;
    border: 2px solid #969696;
    font-weight:bold;
    margin-left:800px;
}

tr{
	height: 50px;
}

.numbermap{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 30px 0 30px;
}
.numbermap>a{
	display:flex;
	padding: 0 3px 0 3px;
}

