@charset "UTF-8";
a:link { color: #5c5c5c; text-decoration: none;}
a:visited { color: #5c5c5c; text-decoration: none;}
* {font-family:'맑은 고딕', '굴림', 'Arial', sans-serif;}
*{padding: 0; margin: 0;}
ul{list-style: none;}

.topmargin{margin-top: 35px;}
.bold{font-weight: bold;}
.line{border-right: 1px solid grey;}


header{
	position:fixed;
	width:100%;
	top:0;
	left:0;
	height: 150px;
	z-index: 50;
	background-color: white;
}

header>div{
	float: left;
}
header>div::after{
	clear: both;
}

header:hover{
	height: 350px;
  background: linear-gradient(to bottom, white 70% , rgba(255, 255, 255, 0.7) );
	position: fixed;
	transition: 1.5s;
}

#logo{
	display: flex;
}

.logo1{
	position: absolute;
	top: 30px; left: 100px;
	width: 180px;
	height: 70px;
	opacity: 1;
}

#manu{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}


#manu>ul{
	height: 100px;
	display: flex;
	margin: 55px 0 0 0;
	margin-right: 60px;
	padding: 0;
}

#manu>ul>li{
	float: left;
}

#manu>ul>li::after{
	clear: both;
}

#manu>ul>li>a{ /*헤더대분류*/
	padding: 7px 30px 10px;
	color: #48474A;
	font-weight: bold;
}


#manu>ul>li>ul>li>a{ /*헤더소분류*/
	display: none;
	animation: listshow 0.8s ease normal;
	padding: 7px 5px 14px;
	font-size: 15px;
	color: #48474A;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: -0.5px;
	margin-left: 30px;
}
@keyframes listshow {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


header:hover #manu>ul>li>ul>li>a{
	text-decoration:none;
	z-index: 77;
	display: inherit;
}


header:hover #logo>a{
	color:#48474A;
}



#side>ul{
	margin: 0;
	padding: 0;
}

.main{
	width: 100%;
	margin: auto;
	display: flex;
}


.navi{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navi>div{
	float: left;
}
.navi>div:after{
	display: block;
	clear: both;
}


#side{
	border: 1px solid #BFC7DE;
	padding: 11px 12px; font-size: 12px;
  line-height: 1.2;
	display: flex;
	top: 45px; right:100px;
	position: absolute;
}

#side>ul>li {
	float: left;
	padding : 0 11px;
}

#side>ul>li::after {
	clear: both;
}
#side>ul>li>a{
	font-weight:bold;
	color: #48474A;
}

#side>ul>li>span{
	color: #48474A
}

@media(max-width:1200px) {
	header #manu>ul>li>a{
		display: none;
	}
	header #manu>ul>li>ul{
		display: none;
	}
	header{
		pointer-events: none;
	}
	#side{
		display: none;
	}
}

@media(min-width:1500px) {
	#manu>ul>li>a{
		padding: 7px 50px 10px;
	}
	#manu>ul>li>ul>li>a{
		padding: 7px 25px 14px;
	}

}

.subbanner{
	margin-top: 150px;
	width: 100%;
	height: 300px;
}


.sibtitle{
	display: flex;
}

.route{
	display: flex;
	padding-left: 780px;
	font-size: 14px;
}
.route>ul>li{
	display: flex;
	float: left;
	padding: 5px;
}
.route>ul>li::after{
	clear: both;
}

.roomInfo_01_info{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.writ{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

.price>tbody>tr{
	padding: 10px;
}

.sibtitle{
	padding: 10px 0 30px 0;
	font-size: 35px;
	width: 1100px;
}

.img_slide{
	width: 1100px;
	overflow: hidden;
	position: relative;
}
.img_slide>ul{
	width: 3300px;
	height:auto;
	display: flex;
	align-items: baseline;
}

.img_slide>ul>li>img{
	width: 1100px;
	height: 800px;

}

.slidebtn{
	position: absolute;
	top:40%;
	width: 100px;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.slidebtn>i{
	display: flex;
	color: white;
	font-size: 50px;
	opacity: 0.5;
	padding-top: 45px;
}

#next{
	right: 0;
	border-radius: 14px 0px 0px 14px;

}

#prev{
	border-radius: 0px 14px 14px 14px;
}


.table{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 13px;
	margin-top: 80px;
}

.table>div>table{
	width: 530px;
	height: 90px;
	border-collapse: collapse;
}

tr{
	height: 35px;
	width: 90px;
}
td{
	height: 35px;
	border: 1px solid #E5EAEA;
}

th{
	background: #E5EAEA
}
.map{
	margin-right: 30px;
	margin-bottom: 30px;
}
.map>tbody>tr>td>img{
	width: 500px;
	height: 400px;
	padding:20px;
}

.foot_right{
	margin: 0 auto;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-top: 0.5px solid lightgrey;
}

#fnb{
	margin-right: 100px;

}
#fnb>ul>li{
	padding: 10px;
	float: left;
	font-size: 14px;
}
#fnb>ul>li::after{
	clear: both;
}

address{
	font-style: normal;
	font-size: 12px;
	color: #48474A;
}

address ul{
	display: flex;

}
address ul>li{
	display: list-item;
	padding-right: 10px;
	padding-left: 10px;
}
